[Desktop Entry]
Categories=Editors;
Comment=Simple but usefull Text Editor
Exec=jollpi
GenericName=Text Editor
Icon=jollpi
Name=Jollpi
StartupNotify=true
Terminal=false
Type=Application
Version=2alpha.1.2







